<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter" ng-controller="TodoCtrl">

    <ion-pane>
      <ion-header-bar class="bar-positive">
        <button class="button button-icon" ng-click="openModal()">
        <i class="ion-compose icon"></i>
        </button>
        <h1 class="title">To Do</h1>
      </ion-header-bar>
      <ion-content>
      <div id="content" ng-show="tasks.length === 0">
              No Task Added
            </div>
      <ion-list> <!-- issue 1 Left out this -->
      <ion-item ng-repeat="task in tasks" class="item-icon-right" ng-class="{complete: task.completed}" ng-click="task.completed = !task.completed">
        <i class="icon ion-ios-arrow-left"></i>
          <ion-option-button class="button-assertive" ng-click="tasks.splice($index, 1)">
            Delete
          </ion-option-button>
        <ion-option-button class="button-energized" ng-click="edit(task)">
          Edit
        </ion-option-button>
       {{task.title}}   
      </ion-item>
      </ion-list> <!--Left out this -->
      </ion-content>
    </ion-pane>
  </body>
  <script id="addtasks.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive" >
    <button class="button" ng-click="closeModal()">back</button>
      <h1 class="title">Add Task</h1>
    </ion-header-bar>
    <ion-content>
      <form ng-submit="newTask(data)">
        <label class="item item-input">
          <input type="text" placeholder="Enter Task" ng-model="data.newItem">
        </label>
        <button class="button button-block button-positive" type="submit">
          Add Task
        </button>
      </form>
    </ion-content>
  </ion-modal-view>
</script>
</html>
